<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<div class="footer-item">
					<div class="company-brand">
						<img src="~/booksaw-1.0.0/images/main-logo.png" alt="logo" class="footer-logo">
						<p>
							Kitapseverlere özel geniş ürün yelpazemizle hizmet veriyoruz. Amacımız, her yaştan ve ilgiden okuyucuyu en doğru kitaplarla buluşturmak. Kaliteli hizmet, güvenli alışveriş ve kültürel zenginlik için buradayız.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="footer-menu">
					<h5>Hakkımızda</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Vizyonumuz</a>
						</li>
						<li class="menu-item">
							<a href="#">Makaleler</a>
						</li>
						<li class="menu-item">
							<a href="#">Kariyer</a>
						</li>
						<li class="menu-item">
							<a href="#">Hizmet Şartları</a>
						</li>
						<li class="menu-item">
							<a href="#">Bağış Yap</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-2">
				<div class="footer-menu">
					<h5>Keşfet</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Anasayfa</a>
						</li>
						<li class="menu-item">
							<a href="#">Kitaplar</a>
						</li>
						<li class="menu-item">
							<a href="#">Yazarlar</a>
						</li>
						<li class="menu-item">
							<a href="#">Kategoriler</a>
						</li>
						<li class="menu-item">
							<a href="#">Gelişmiş Arama</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-2">
				<div class="footer-menu">
					<h5>Hesabım</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Giriş Yap</a>
						</li>
						<li class="menu-item">
							<a href="#">Sepetim</a>
						</li>
						<li class="menu-item">
							<a href="#">İstek Listem</a>
						</li>
						<li class="menu-item">
							<a href="#">Sipariş Takibi</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-2">
				<div class="footer-menu">
					<h5>Yardım</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Yardım Merkezi</a>
						</li>
						<li class="menu-item">
							<a href="#">Sorun Bildir</a>
						</li>
						<li class="menu-item">
							<a href="#">Düzenleme Öner</a>
						</li>
						<li class="menu-item">
							<a href="#">İletişime Geç</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</footer>

<div id="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="copyright">
					<div class="row">

						<div class="col-md-6">
							<p>
								© 2022 All rights reserved. Free HTML Template by <a href="https://www.templatesjungle.com/" target="_blank">TemplatesJungle</a>
							</p>
						</div>

						<div class="col-md-6">
							<div class="social-links align-right">
								<ul>
									<li>
										<a href="#"><i class="icon icon-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-youtube-play"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-behance-square"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div><!--grid-->

			</div><!--footer-bottom-content-->
		</div>
	</div>
</div>
