
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")


<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Html.PartialAsync("/Views/AdminLayout/NavbarPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
        
      
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            @await Html.PartialAsync("/Views/AdminLayout/SidebarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="row">
                                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                    <h3 class="font-weight-bold">Hoşgeldiniz</h3>
                                   
                                </div>
                         
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card tale-bg">
                                <div class="card-people mt-auto">
                                    <img src="~/skydash-v.01/images/dashboard/people.svg" alt="people">
                                    <div class="weather-info">
                                        <div class="d-flex">
                                            <div>
                                                <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                                            </div>
                                            <div class="ml-2">
                                                <h4 class="location font-weight-normal">İstanbul</h4>
                                                <h6 class="font-weight-normal">Türkiye</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @await Component.InvokeAsync("ProductStats")
                       
                    </div>
                   

                    @await Component.InvokeAsync("DashboardTopBook")

)
          
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                    @await Html.PartialAsync("/Views/AdminLayout/FooterPartial.cshtml")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
        @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")




   
</body>

</html>

