<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
       
      
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard/Index/">
                        <i class="ti-home menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminCategory/Index/">
                        <i class="ti-folder menu-icon"></i>
                        <span class="menu-title">Kategoriler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminProduct/Index/">
                        <i class="ti-book menu-icon"></i>
                        <span class="menu-title">Kitaplar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mesajlar.html">
                        <i class="ti-email menu-icon"></i>
                        <span class="menu-title">Mesajlar</span>
                    </a>
                </li>
        <li class="nav-item">
            <a class="nav-link" href="istatistik.html">
                <i class="ti-bar-chart menu-icon"></i>
                <span class="menu-title">İstatistik</span>
            </a>
        </li>      
        <li class="nav-item">
            <a class="nav-link" href="istatistik.html">
                <i class="ti-bar-chart menu-icon"></i>
                <span class="menu-title">Bloglar</span>
            </a>
        </li>

     
        <li>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/login.html"> Giriş Yap </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/register.html"> Kayıt Ol </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
    </ul>
</nav>


