<section id="subscribe">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-md-8">
				<div class="row">

					<div class="col-md-6">

						<div class="title-element">
							<h2 class="section-title divider">Bültenimize Abone Olun</h2>
						</div>

					</div>
					<div class="col-md-6">

						<div class="subscribe-content" data-aos="fade-up">
							<p>
								Özgürce kendinizi geliştirin, faydalı içeriklere ulaşmak için bültenimize katılın. İlginizi çekecek içerikler sizi bekliyor.
							</p>
							<form id="form">
								<input type="text" name="email" placeholder="E-posta adresinizi buraya girin">
								<button class="btn-subscribe">
									<span>Gönder</span>
									<i class="icon icon-send"></i>
								</button>
							</form>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</section>
