<section id="best-selling" class="leaf-pattern-overlay">
	<div class="corner-pattern-overlay"></div>
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-md-8">

				<div class="row">

					<div class="col-md-6">
						<figure class="products-thumb">
							<img src="https://i.hizliresim.com/nx8ral0.jpg?_gl=1*17knq90*_ga*ODE3NzYxNzI4LjE3MzcyMzE3NDQ.*_ga_M9ZRXYS2YN*czE3NDcxNjI4MzUkbzYkZzEkdDE3NDcxNjM4ODAkajMwJGwwJGgw" alt="kitap" class="single-image">
						</figure>
					</div>

					<div class="col-md-6">
						<div class="product-entry">
							<h2 class="section-title divider">En Çok Satan Kitap</h2>

							<div class="products-content">
								<div class="author-name">Charles Dickens</div>
								<h3 class="item-title">İki Şehrin Hikayesi</h3>
								<p>
									İhtilal döneminde Londra ve Paris’te geçen bu klasik eser, fedakârlık, adalet ve sevgi
									temalarını işliyor. Dickens’ın etkileyici üslubuyla kaleme aldığı unutulmaz bir roman.
								</p>
								<div class="item-price">₺ 45,00</div>
								<div class="btn-wrap">
									<a href="#" class="btn-accent-arrow">
										Şimdi Satın Al <i class="icon icon-ns-arrow-right"></i>
									</a>
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- / row -->

			</div>

		</div>
	</div>
</section>
