@model List<ResultBlogDto>

<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Blog Yazılarımızı Okuyun</span>
                    </div>
                    <h2 class="section-title">Son Blog Yazıları</h2>
                </div>

                <!-- Blogları tek bir satırda gösterecek şekilde row'u bir kez başlatıyoruz -->
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <article class="column" data-aos="fade-up">
                                <figure>
                                    <a href="#" class="image-hvr-effect">
                                        <img src="@item.ImageUrl" alt="post" class="post-image">
                                    </a>
                                </figure>

                                <div class="post-item">
                                    <div class="meta-date">@item.Date.ToShortDateString()</div>
                                    <h3><a href="#">@item.Title</a></h3>

                                    <div class="links-element">
                                        <div class="categories">Bengüsu Duman</div>
                                        <div class="social-links">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="icon icon-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="icon icon-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="icon icon-behance-square"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--links-element-->
                                </div>
                            </article>
                        </div>
                    }
                </div><!-- End of row -->

                <div class="row">
                    <div class="btn-wrap align-center">
                        <a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                        Tüm Bloglar<i class="icon icon-ns-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
